*{
  box-sizing: border-box;
}
:root {
  --Padding :1.2rem;
  --Border: 2px solid black;
  --BGColor:#34374091;
  --TxtShadow:0px 0px 5px white;
  
}
body {
  background-image: url("imgs/backgroundimg.avif");
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "c c c c c c"
  "a m m m m m "
  ;
}
.line_through{
  text-decoration: line-through;
}
.awake_btn{
  background-color: rgba(211, 217, 223, 0);
  padding: 5px;
  font-size: clamp(1.5rem,10vw,3rem);
  color: white;
  
}
input[type="text"],textarea{
  background-color: rgba(240, 248, 255, 0);
  color: white;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: 2px 2px 2px white;
}
.animation1{
  animation: openbtn 2s ease-in-out  1 forwards;
}
@keyframes openbtn {
  0%{ transform:translateX(0); } 
  33%{ transform:translateX(250px) rotate(720deg) ; } 
  66%{ transform:rotate(-720deg) ; } 
}
aside::-webkit-scrollbar,textarea::-webkit-scrollbar {
  background-color: rgba(240, 248, 255, 0);
}
aside{
  background-color: var(--BGColor);
  position: fixed;
  grid-area: a;
  border: var(--Border);
  height: 94vh;
  overflow: scroll;
  overflow-x:hidden;
  top: 50px;
  width: calc( 100% /6 );
}
aside ul{
  margin: 0;
  padding: 0;
}
aside  li{
  border-bottom: var(--Border);
  padding: 5px;
  text-shadow: var(--TxtShadow);
  color: white;
  font-size:clamp(.1rem,2vw,3rem)
}

aside svg{
  background-color: rgba(240, 248, 255, 0.277);
  padding: 5px;
  width: 100%;
  font-size:clamp(1rem,1vw,3rem)
}
main{
  background-color: var(--BGColor);
  grid-area: m;
  border: var(--Border);
  text-shadow: var(--TxtShadow);
  font-size:clamp(1rem,2vw,3rem);
  padding: 2rem;
  height: 94vh;
  overflow: scroll;
}
main::-webkit-scrollbar{
  overflow-x: hidden;
  width: 1px;
  background-color: rgba(250, 235, 215, 0);
}
main li{
  list-style-type: none;
}
main input{
  font-size:clamp(.5rem,1vw,3rem);
  
  padding: 1rem;
}
main div{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
main input[type="text"]{
  flex-grow: 1;
  margin-left: 10px;
}
main input[type="checkbox"]{
  width: 2Vh;
  height: 2Vh;
}
main textarea{
  flex-grow: 1;
  font-size:clamp(.5rem,1vw,3rem);
  padding: 1rem;
  
}
.components_picker{
  grid-area: c;
  display: grid;
  background-color: var(--BGColor);
  box-shadow: 2px 2px 10px white;
  
}
.components_picker ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: calc( 100% / 6) 1fr 1fr 1fr;
}
.components_picker li:first-child{
  grid-column: 1/2;
}

.components_picker li{
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.components_picker button{
  padding: 1rem;
  font-size:clamp(.5rem,1vw,1rem);
  display: grid;
  place-content: center;
  width: 100%;
  text-shadow: var(--TxtShadow);
  background-color: var(--BGColor);
  color: white;
  box-shadow: 2px 2px 10px white;
}
.selected{
  background-color: aliceblue;
  color: #000;
  text-shadow: 0px 0px 5px black;
}