:root {
  --Padding :1.2rem;
  --Border: 2px solid black;
  --BGColor:rgba(250, 250, 250, 0.357);
  --TxtShadow:0px 0px 5px white;
  
}
body {
  background-image: url("imgs/backgroundimg.avif");
  background-size: contain;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "a c c c c c"
  "a m m m m m "
  ;
}
.line_through{
  text-decoration: line-through;
}
aside::-webkit-scrollbar {
  width: 1px;
}
aside{
  background-color: var(--BGColor);
  position: sticky;
  grid-area: a;
  border: var(--Border);
  height: 95vh;
  overflow: scroll;
  overflow-x:hidden;
  top:0;
}
aside ul{
  margin: 0;
  padding: 0;
}
aside  li{
  border-bottom: var(--Border);
  padding: 5px;
  text-shadow: var(--TxtShadow);
  color: white;
  font-size:clamp(.5rem,2vw,3rem)
}
aside ul li:first-child{
  margin-top: -20px;
}
aside svg{
  background-color: rgba(240, 248, 255, 0.277);
  padding: 5px;
  position: absolute;
  position: sticky;
  left: 100%;
  top: 5px;
  font-size:clamp(.1rem,1vw,3rem)
}
main{
  background-color: var(--BGColor);
  grid-area: m;
  border: var(--Border);
  text-shadow: var(--TxtShadow);
  font-size:clamp(1rem,2vw,3rem);
  margin-left: 20px;
  padding: 2rem;
}
main li{
  list-style-type: none;
}
main input{
  font-size:clamp(.5rem,1vw,3rem);
  border-radius: 20px;
  padding: 1rem;
}
main div{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
main input[type="text"]{
  flex-grow: 1;
  margin-left: 10px;
}
main input[type="checkbox"]{
  width: 2Vh;
  height: 2Vh;
}
main textarea{
  flex-grow: 1;
  max-width: 100%;
  font-size:clamp(.5rem,1vw,3rem);
  padding: 1rem;
  border-radius: 20px;
}
.components_picker{
  grid-area: c;
  margin-left: 20px;
  background-color: var(--BGColor);
  
}

.components_picker ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  
}
.components_picker li{
  padding: 0;
  margin: 0;
  flex-grow: 1;
  
}
.components_picker button{
  padding: 1rem;
  font-size:clamp(.5rem,1vw,1rem);
  display: grid;
  place-content: center;
  width: 100%;
  text-shadow: var(--TxtShadow);
  background-color: var(--BGColor);
}
.selected{
  background-color: aliceblue;
  color: #000;
  text-shadow: 0px 0px 5px black;
}